.menu{
    margin: 20px;
}
.menu a{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    outline: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #8b7969;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #161B1D;
}
.footer_logo{
    width: 135px;
    height: 104px;
}
.footer_btn{
    background-image: linear-gradient(to right, #B41F24 , #1E1334 );
    /* background-color: #b953bb; */
    outline: none !important;
   border: none !important;
   border-radius: 10px;
   box-shadow: none !important;
   padding: 12px;
   position: relative;
   width: 350px;
   color: white;
}